.button-type-screen {
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  cursor: pointer;
}

.menu-list-button {
  border: none;
  background-color: transparent;
  font-size: 2.5rem;
}

.principal-button {
  background-color: #14668b;
  padding: 1rem 2rem;
  color: white;
  border-radius: 0.5rem;
  border: 1px solid #14668b;
  cursor: pointer;
}
.principal-button:hover {
  background-color: white;
  color: #14668b;
  border: 1px solid #14668b;
}

.section-title {
  font-size: 2rem;
}

.img-c {
  border-radius: 2rem;
}

.img-hab {
  width: 4rem;
  height: 4rem;
}

.img-pro {
  width: 25rem;
  height: 15rem;
  border-radius: 0.5rem;
}
.img-pro:hover {
  transition-duration: 500ms;
  opacity: 0.2;
}

.img-gh {
  position: absolute;
  display: none;
  width: 4rem;
  height: 4rem;
}

.info-proyect {
  position: absolute;
  display: none;
}

.span-text {
  margin-left: 2rem;
  text-align: center;
  font-family: RadioCanada-SemiBold;
  font-size: 1rem;
}

.btn-up {
  border: none;
  background-color: transparent;
  color: #14668b;
  font-size: 3rem;
  cursor: pointer;
}

.popup-send {
  display: none;
  background-color: rgb(59, 151, 59);
  border-radius: 1rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem 4rem;
}
.popup-send .x-item {
  font-size: 2rem;
  color: white;
  display: flex;
  justify-content: end;
  margin-right: -3rem;
  margin-top: -1rem;
}
.popup-send .popup-mss {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popup-send .popup-mss .mss-item-i {
  font-size: 3rem;
  color: white;
}
.popup-send .popup-mss .mss-item-p {
  margin-top: 0.5rem;
  color: white;
  margin-left: -3rem;
  margin-right: -3rem;
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  transition: all 0.4s;
}

body.dark-screen {
  background-color: #111827;
}
body.dark-screen .content-text {
  color: #f0eff6;
}
body.dark-screen .nav-container {
  background-color: #111827;
}
body.dark-screen .skill {
  border: 3px solid white;
}

.nav-shadow-container {
  -webkit-box-shadow: 0 1px 5px #888888;
  -moz-box-shadow: 0 1px 5px #888888;
  box-shadow: 0 1px 5px #888888;
}

.nav-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
  background-color: white;
}

.menu-container li {
  list-style: none;
  display: inline;
  font-size: 1.3rem;
  padding: 0rem 1rem;
}
.menu-container li:hover {
  cursor: pointer;
}
.menu-container li a {
  text-decoration: none;
  color: #14668b;
}
.menu-container li a:hover {
  text-decoration: underline;
}

#menu-list-button {
  display: none;
}

.container-menu {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transform: all 500ms ease;
  opacity: 0;
  visibility: hidden;
}

#menu-list-button:checked ~ .container-menu {
  opacity: 1;
  visibility: visible;
}

#menu-list-button:checked ~ .container-menu .cont-menu {
  transform: translateX(0%);
}

.cont-menu {
  width: 100%;
  max-width: 15rem;
  background: #14668b;
  height: 100vh;
  position: relative;
  transition: all 500ms ease;
  transform: translateX(-100%);
}
.cont-menu nav {
  transform: translateY(15%);
}
.cont-menu nav a {
  display: block;
  text-decoration: none;
  padding: 2rem;
  color: #c7c7c7;
  border-left: 0.1rem solid transparent;
  transition: all 400ms ease;
}
.cont-menu nav a:hover {
  border-left: 0.5rem solid #c7c7c7;
  background: #4487a6;
}
.cont-menu label {
  position: absolute;
  right: 1rem;
  top: 2rem;
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
}

.presentation-container {
  margin-top: 10rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.presentation-container .personal-image {
  margin-bottom: 1.5rem;
}
.presentation-container .personal-presentation .pres-name {
  text-align: center;
  font-family: RadioCanada-SemiBold;
  font-size: 4rem;
}
.presentation-container .personal-presentation .pres-poss {
  text-align: center;
  font-family: RadioCanada-SemiBold;
  font-size: 2rem;
}
.presentation-container .personal-presentation .pres-desc {
  text-align: center;
  font-family: RadioCanada-Italic;
  font-size: 1rem;
}

.about {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.about .about-description {
  font-size: 1.5rem;
  margin-top: 2rem;
  text-align: justify;
}

.title-hab {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.skills {
  display: flex;
  flex-direction: column;
}
.skills .a-pack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.skills .a-pack .skill {
  display: flex;
  align-items: center;
  border: 3px solid #14668b;
  border-radius: 0.5rem;
  margin: 1rem 1rem;
  padding: 1rem 3rem;
}
.skills .a-pack .skill:hover {
  box-shadow: 3px 3px 20px #14668b, 3px 2px 20px #14668b;
}

.title-pro {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.proyects {
  display: flex;
  flex-direction: column;
}
.proyects .b-pack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.proyects .b-pack .proyect {
  display: flex;
  margin: 1rem 1rem;
  justify-content: center;
}
.proyects .b-pack .proyect:hover .info-proyect {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.proyects .b-pack .proyect:hover .img-gh {
  display: flex;
  margin-top: 1rem;
}
.proyects .b-pack .proyect:hover .img-gh:hover {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 100%;
}

.contact-title {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.contact {
  display: flex;
  flex-direction: column;
}
.contact .contact-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.contact .contact-body .social-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #14668b;
  border-radius: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.contact .contact-body .social-contact .contact-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  padding: 1rem 1rem;
}
.contact .contact-body .social-contact .contact-item .target {
  font-size: 2rem;
  color: white;
}
.contact .contact-body .social-contact .contact-item .personal-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
}
.contact .contact-body .social-contact .contact-item .personal-info .span-info {
  color: white;
}
.contact .contact-body .social-contact .item-1, .contact .contact-body .social-contact .item-2, .contact .contact-body .social-contact .item-3, .contact .contact-body .social-contact .item-4 {
  margin-bottom: 1rem;
}
.contact .contact-body .contact-form {
  display: flex;
  flex-direction: column;
}
.contact .contact-body .contact-form .in-text {
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
}

.footer {
  display: flex;
  justify-content: center;
  margin: 3rem;
}

@media (max-width: 1110px) {
  .menu-container2 {
    display: none;
  }
  .about, .skills, .proyects, .contact {
    padding: 1rem 3rem;
  }
  .about .about-description, .skills .about-description, .proyects .about-description, .contact .about-description {
    font-size: 1.2rem;
  }
}
@media (max-width: 825px) {
  .social-contact {
    padding: 1rem 3rem;
    margin-bottom: 1rem;
  }
}
@media (max-width: 540px) {
  .img-pro {
    width: 18rem;
    height: 10rem;
  }
  .info-proyect {
    margin-top: 6rem;
  }
  .info-proyect .pro-des {
    font-size: 0.7rem;
  }
  .info-proyect .pro-tec {
    font-size: 0.7rem;
  }
}
@media (min-width: 1110px) {
  .menu-list-button {
    display: none;
  }
  .about, .skills, .proyects, .contact {
    padding: 1rem 20rem;
  }
}
@media (min-width: 1000px) {
  .social-contact {
    padding: 1rem 5rem;
    margin-bottom: 1rem;
  }
}
@media (min-width: 540px) {
  .info-proyect {
    margin-top: 8rem;
  }
}
@font-face {
  font-family: "RadioCanada-SemiBold";
  src: url(../assets/fonts/RadioCanada/static/RadioCanada/RadioCanada-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: "RadioCanada-Italic";
  src: url(../assets/fonts/RadioCanada/static/RadioCanada/RadioCanada-Italic.ttf) format("truetype");
}

/*# sourceMappingURL=styles.css.map */
