@font-face {
    font-family: "RadioCanada-SemiBold";
    src: url(../assets/fonts/RadioCanada/static/RadioCanada/RadioCanada-SemiBold.ttf) format("truetype");
}

@font-face {
    font-family: "RadioCanada-Italic";
    src: url(../assets/fonts/RadioCanada/static/RadioCanada/RadioCanada-Italic.ttf) format("truetype");
}